body{
    background-color: rgb(190, 200, 235);
    margin: 100px;
    
    
}
header{
        background-image: url(hatter.jpg);
        border-top: 5px solid rgb(30, 45, 100);
        border-bottom: 2px solid rgb(30, 45, 100);
        border-left: 10px;
        border-right: 10px;
        border-radius: 10px;
        text-align: center;
}
footer{
    background-color: rgb(30, 45, 100);
    text-align: left 10px;
    color: white;
    padding: 10px;
}
table{
       width: 600px;
       margin: 0 auto;
       text-align: left;
}
div{
    margin: auto;
    text-align: left;
}
h2{
    text-align: center;
}
div#kicsi{
    width: 600px;
    margin: 0 auto;
    text-align: left;
    border-right: 2px solid rgb(30, 45, 100);
    border-left: 2px solid rgb(30, 45, 100);
    border-radius: 5px;
}
div#a{
    width: 600px;
    text-align: right;
    margin: 0 auto;
    
}
div#miki{
    transform: rotate(8deg);
}
